[Unit]
Description=rclone
After=multi-user.target

[Service]
Type=simple
User=ridobe
ExecStart=/usr/bin/rclone mount gd: /home/ridobe/googledrive --config /home/ridobe/.config/rclone/rclone.conf --low-level-retries 1 --quiet --stats 0 --timeout 30s
ExecStop=/usr/bin/fusermount -u /home/ridobe/googledrive
Restart=on-abort

[Install]
WantedBy=multi-user.target